<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hi there!</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <!-- <link rel="stylesheet" th:href="@{/css/theme.css}" /> --> <!-- if defined here instead of css @import rule, it works as expected -->
    </head>
    <body>
        <section class="hi">
            <h1>Hello!</h1>
            <p>hola, bonjour, hallo, olá, nǐ hǎo, kon’nichiwa, namaste</p>
        </section>        
    </body>
</html>
